@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;900&display=swap");

:root {
  font-family: "Lexend", sans-serif;
  --primary-color: #58be6f;
  --bg-color: #f2f2f2;
  --white: #ffffff;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
